@import "styles/_colors";
@import "styles/_mixins";
@import "styles/_fonts";
.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: #fff;
  transition: all 0.5s;
  z-index: 997;
  padding: 12px 25px;
  top: 0;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  @media only screen and (max-width: 991px) {
    padding: 12px 0px;
  }
  @include mobile {
    padding-left: 0px;
    padding-right: 0px;
  }
  .header-top {
    display: flex;
    align-items: center;
    padding-right: 15px;
    padding-left: 15px;
  }
  .logo {
    max-height: 70px;
    padding-left: 5px;
    padding-right: 30px;
    padding-top: 0px;
    border-right: 1px solid $secondary;
    @media only screen and (max-width: 991px) {
      max-height: 55px;
      padding-right: 15px;
    }
    @media only screen and (max-width: 767px) {
      padding-left: 0;
      border-right: none;
    }
    @include mobile {
      padding-right: 0px;
      max-height: 35px;
      padding-left: 0;
      border-right: 0;
    }
  }
  .header-title {
    color: $secondary;
    font-weight: 300;
    font-size: 30px;
    margin: 0;
    padding-left: 20px;
    font-weight: 800;
    @media only screen and (max-width: 1200px) {
      font-size: 24px;
    }
    @media only screen and (max-width: 991px) {
      font-size: 20px;
    }
  }
  .profile-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: block;
    @include mobile {
      width: 40px;
      height: 40px;
    }
  }
  .brand-profile-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    @include mobile {
      width: 15px;
      height: 15px;
    }
  }
  .profile-link {
    margin-left: 10px;
    color: #fff;
    transition: 0.3s;
    font-size: 20px;
    display: inline-block;
    font-weight: 400;
    background: transparent;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    @include mobile {
      width: 40px;
      height: 40px;
    }
  }
  .profile-dropdown {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  .profile-name {
    color: #212529;
    font-size: 14px;
    padding-right: 10px;
    padding-left: 10px;
    @include mobile {
      display: none;
    }
  }
}

.option-title {
  padding: 0px 0;
  font-size: 14px;
  border-bottom: 1px solid #ccc;
  color: #5d5d5d;
  margin: 0;
}

.ant-dropdown-menu {
  width: 220px;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  .ant-dropdown-menu-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid #ccc;
    padding: 5px 0;
    color: #5d5d5d;
    &:last-child {
      border: none;
    }
    p {
      font-family: 'Open Sans', sans-serif !important;
      font-size: 14px;
      font-weight: 400;
    }
  }
  .icon {
    margin-right: 5px;
    color: #5d5d5d;
    opacity: 0.5;
    max-width:20px;
  }
  .option-title {
    border: none;
  }
}