@import 'styles/_colors';
@import 'styles/_mixins';

.file-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 20px;
  border: 1px solid #5d5d5d61;
  border-radius: 5px;
  margin-top: 10px;
  background-color: white;

  .file-date {
    margin: 0px;
    font-size: 12px;
    color: rgba(#5d5d5d, 0.6);
  }

  .file-size {
    color: #5d5d5d;
  }

  .file-title {
    color: #5d5d5d;
    width: 180px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.progress-custom {
  width: 47%;
  display: flex;

  .anticon-delete {
    margin-left: 35px;
  }
}

.ant-upload {
  span {
    width: 100%;
  }
}


.ant-upload.ant-upload-drag {
  height: 80%;
}