$white: #ffffff;
$black: #000000;

$primary: #2C7FFF;
$text: #0E264B;
$primary-hover: #0567ff;
$red: #FF2759;
$green: #009A47;
$blue-input: #EAF2FF;
$bg: #FAFCFC;
$shadow: #DFE5EF;
$gray: #8D8D8D;
$red-2: #F64242;
$user-gray: #9CA7C4;