@import "styles/_colors";
@import "styles/_mixins";

.img-box-download {
  // width: 20%;
  position: relative;

  .full-img {
    width: 100%;
    min-height: 195px;
    height: 195px;
    object-fit: cover;
    background: rgba(0, 0, 0, 0.1);

    @include mobile {
      max-height: auto;
      min-height: auto;
    }
  }

  .full-video {
    width: 100% !important;
    height: 195px !important;
    background-color: black;

    @include mobile {
      height: 100px !important;
    }
  }
}

.icons-row {
  width: 100%;
  position: absolute;
  bottom: 10px;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
}

.icons-custom {
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  filter: opacity(0.6);
  border-radius: 2px;
  padding: 4px;
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 20px;
    opacity: 0.5;
  }
}

.chat-icon {
  position: absolute;
  top: 8px;
  right: 10px;

  .icons-custom {
    height: 25px;
    width: 25px;
    filter: opacity(0.8);
  }

  .number {
    position: absolute;
    top: -5px;
    right: -5px;
    color: $black;
    background: $white;
    z-index: 1;
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    font-size: 10px;
    background-color: mediumseagreen;
    color: white;
  }
}

.ant-scroll-number {
  font-size: 10px;
}

.ant-badge-count {
  background-color: $primary;
}

.title {
  margin-top: 30px;
}

.creative-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 4px;
  color: #5d5d5d;

  .date-text {
    margin-left: 4px;
    color: #5d5d5d;
    font-family: 300;
  }
}
.approved-schedules {
  margin-top: 3px;
  font-size: 13px;
  color: #5d5d5d;
}

.influncer-file-container {
  display: flex;
  align-items: start;
  flex-wrap: wrap;

  .influncer-file-subcontainer {
    width: 100%;
  }
}

.influncer-file-container {
  width: calc(100% / 4);
  margin-right: 20px;
  margin-bottom: 10px;

  @include mobile {
    width: 42%;
  }
  /* new css*/
  .project-card-status {
    display: none;
  }
  .main-creatives-pending {
    //border: 4px solid #f7be33;
    outline-style: solid;
    outline-color: #f7be33;
  }
  .main-creatives-accepted {
    //border: 4px solid #61ba15;
    outline-style: solid;
    outline-color: #61ba15;
  }
  .main-creatives-scheduled {
    //border: 4px solid #feed32;
    outline-style: solid;
    outline-color: #61ba15;
  }
  .main-creatives-rejected {
    //border: 4px solid #e93f33;
    outline-style: solid;
    outline-color: #e93f33;
  }
  .main-creatives-live {
    //border: 4px solid #5acffb;
    outline-style: solid;
    outline-color: #5acffb;
  }
  .creatives-pending {
    background: #f7be33;
    padding: 1px 17px 1px 10px;
    border-radius: 0px 12px 12px 0px;
    position: absolute;
    z-index: 2;
    line-height: 1.6;
  }
  .creatives-accepted {
    background: #61ba15;
    padding: 1px 17px 1px 10px;
    border-radius: 0px 12px 12px 0px;
    position: absolute;
    z-index: 2;
    line-height: 1.6;
    color: #ffffff;
  }
  .creatives-scheduled {
    background: #feed32;
    padding: 1px 17px 1px 10px;
    border-radius: 0px 12px 12px 0px;
    position: absolute;
    z-index: 2;
    line-height: 1.6;
  }
  .creatives-rejected {
    background: #e93f33;
    padding: 1px 17px 1px 10px;
    border-radius: 0px 12px 12px 0px;
    position: absolute;
    z-index: 2;
    line-height: 1.6;
    color: #ffffff;
  }
  .creatives-live {
    background: #5acffb;
    padding: 1px 17px 1px 10px;
    border-radius: 0px 12px 12px 0px;
    position: absolute;
    z-index: 2;
    line-height: 1.6;
    color: #ffffff;
  }
  .file-influencer-row {
    display: flex;
    align-items: start;
    flex-wrap: wrap;
  }
}
.project-one-card {
  .project-card-status {
    display: block;
  }
  .influncer-file-subcontainer {
    position: relative;
  }
  .creative-footer {
    position: relative;
    .absolute-box {
      position: absolute;
      width: 100%;
      display: flex;
      justify-content: space-between;
      bottom: 4px;
      background-color: #00000096;
      padding-left: 8px;
      padding-right: 8px;
    }
    color: #ffffff;
    .date-text {
      color: #ffffff;
    }
  }
  .project-card-status {
    text-transform: capitalize;
  }
  .img-box-download {
    min-height: 195px;
    height: 195px;
  }
  .icons-custom {
    background: none;
  }
  .btn-outline {
    background-color: #ffffff;
    border: 1.5px solid #0078b3;
    color: #0078b3;
    padding: 2px 10px;
    margin-left: 0;
  }
  .pencil-right {
    float: right;
  }
}
