@import "styles/_colors";
@import "styles/_mixins";
.sidenav {
  background: #ffffff;
  color: #fff;
  transition: all 0.1s;
  // padding-top: 80px;
  position: relative;
  width: 60px;
  @media only screen and (max-width: 767px) {
    display: none;
    &.sidenav-active {
      display: block;
    }
  }
  &:hover {
    background: #ffffff;
    color: #fff;
    transition: all 0.1s;
    // padding-top: 80px;
    position: relative;
    width: 250px;
    @include mobile {
      width: 100%;
      position: fixed;
    }
    .right-menu {
      .link-item {
        display: inline-block;
      }
      .link-li {
        width: 250px;
        svg {
          display: inline-block;
          vertical-align: middle;
        }
        .link-item {
          font-size: 16px;
        }
      }
    }
  }
  @include mobile {
    z-index: 1;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0px 3px 6px #0000009c;
  }
  .right-menu {
    // padding-top: 15px;
    ul {
      padding-left: 0;
      margin-bottom: 0;
      @include mobile {
        display: flex;
        align-items: center;
      }
    }
    .link-li {
      list-style: none;
      width: 60px;
      padding: 10px;
      position: relative;
      @include mobile {
        width: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        flex-direction: column;
      }
      &:hover {
        background: $secondary;
        .icon {
          filter: brightness(0) invert(1);
        }
        .link-item {
          color: $white;
          font-size: 16px;
        }
        .inner-menu-text {
          font-size: 12px;
        }
      }
      .inner-menu-text {
        display: inline-block;
        vertical-align: middle;
        font-size: 0;
        span {
          display: block;
        }
      }
    }
    .link-item {
      // height: 60px;
      color: #5d5d5d;
      font-size: 0;
      margin-left: 10px;
      transition: none;
      svg {
        margin-right: 10px;
        display: inline-block;
        vertical-align: middle;
      }
      @include mobile {
        font-size: 10px;
        margin-left: 0;
        margin-top: 10px;
        display: inline-block;
      }
    }
  }
  &:hover {
    .right-menu {
      .link-li {
        .inner-menu-text {
          font-size: 12px;
        }
      }
    }
  }
}