@import "styles/_colors";
@import "styles/_mixins";

.sidenav {
  background: #ffffff;
  color: #fff;
  transition: all 0.1s;
  // padding-top: 80px;
  position: relative;
  width: 60px;

  &:hover {
    background: #ffffff;
    color: #fff;
    transition: all 0.1s;
    // padding-top: 80px;
    position: relative;
    width: 250px;

    @include mobile {
      width: 100%;
      position: fixed;
    }

    .right-menu {
      .link-item {
        display: inline-block;
      }
      .link-li {
        width: 250px;
      }
    }
  }

  @include mobile {
    z-index: 1;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0px 3px 6px #0000009c;
  }

  .right-menu {
    // padding-top: 15px;

    ul {
      padding-left: 0;
      margin-bottom: 0;

      @include mobile {
        display: flex;
        align-items: center;
      }
    }

    .link-li {
      list-style: none;
      width: 60px;
      padding: 10px;
      position: relative;
      font-size: 24px;

      @include mobile {
        width: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        flex-direction: column;
      }

      &:hover {
        background: $secondary;

        .icon {
          filter: brightness(0) invert(1);
        }
        .link-item {
          color: $white;
        }
      }
    }

    .icon {
      width: 28px;
      height: 28px;
    }

    .link-item {
      // height: 60px;
      color: #5d5d5d;
      display: none;
      font-size: 24px;
      margin-left: 10px;

      @include mobile {
        font-size: 10px;
        margin-left: 0;
        margin-top: 10px;
        display: inline-block;
      }
    }
  }
}
