@import 'styles/_colors';
@import 'styles/_mixins';

.influencer-upload-modal {
  padding-bottom: 30px;

  .ant-modal-close {
    border: 2px solid #dacfcf;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    font-size: 12px;
    background: white;
    top: -25px;
    right: -50px;
    color: black;
    font-weight: 900;

    @include mobile {
      top: -35px;
      right: 0;
    }

    @include tablet {
      top: -35px;
      right: 0;
    }
  }

  .ant-modal-close-x {
    display: initial;
    width: 25px;
    height: 25px;
    font-size: 13px;
    line-height: 21px;
  }

  .ant-modal-title {
    color: #5d5d5d;
  }

  .ant-modal-header {
    border-bottom: none;
    padding-bottom: 0px;
  }

  .upload-text {
    color: #707070;
  }

  .ant-modal-body {
    padding-top: 16px;
  }

  .btn-submit {
    background: $secondary;
    padding: 5px 16px;
    color: #fff;
    text-align: center;
    font-size: 14px;
    border-radius: 5px;
    border: none;
    margin-right: 10px;
    cursor: pointer;
    &:focus {
      outline: none;
    }
  }

  .btn-cancel {
    background: none;
    border: none;
    color: #5d5d5d;
    cursor: pointer;
    &:focus {
      outline: none;
    }
  }

  .ant-modal-footer {
    display: none;
  }

  .comment-btns {
    margin-top: 45px;
  }

  .bg-outline {
    border: 1px solid $secondary;
    background-color: transparent;
    color: $secondary;
  }

  .conatiner-file {
    background-color: #f1f1f2;
    border: 1px solid #f0f0f0;
    padding: 10px 15px;
    border-radius: 10px;
    padding-bottom: 20px;
  }

  .comapign-text {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    font-size: 20px;
    border-bottom: 2px solid #f0f0f0;
    margin-bottom: 30px;
    padding-bottom: 5px;
    text-transform: uppercase;
    color: $text;

    .text-sm {
      font-weight: 300;
      font-size: 18px;
      text-transform: lowercase;
    }
  }

  .select-upload {
    border: 1px solid #707070;
    width: 48%;
    height: 200px;
    background-color: $white;
    color: $text;
    font-size: 20px;
    margin: 20px 0;
    border-radius: 10px;
    cursor: pointer;

    @include mobile {
      height: 120px;
      font-size: 14px;
    }

    &:focus {
      outline-color: $secondary;
      color: $secondary;
    }
  }
}
