/* body {
  color: #242424;
  font-size: 16px;
  font-family: "Open Sans", sans-serif !important;
}

h1 {
  color: #242424;
  text-align: left;
  letter-spacing: -1px;
} 

p {
  font: 400 18px "Open Sans", sans-serif;
}

h2 {
  font-size: 32px;
} */



/* Chitra CSS */
  /* Common CSS  */
  /* .containerWrap {
    max-width: 1280px;
    padding: 0px 15px;
    margin: 0 auto;
  } */
/* .banner-innerpage h1 {
  font-size: 38px;
  align-items: center;
  font-family: "Open sans";
  line-height: 55px;
  font-weight: normal;
  position: relative;
  padding-bottom: 15px;
}

.banner-innerpage h1:after {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  width: 80%;
  height: 1px;
  background-color: #000;
} */