@import 'styles/_colors';
@import 'styles/_mixins';

.tab-applied-proposal {
  width: 100%;
  .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: $secondary;
  }

  .ant-tabs-ink-bar {
    background: $secondary;
  }

  .ant-tabs-content-holder {
    padding: 0 4px;
  }

  .ant-tabs-tab {
    padding-top: 0px;
  }

  .view-title {
    color: $text;
    cursor: pointer;
  }

  .file-influencer-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
}

.custom-project-collapse {
  box-shadow: 0px 3px 6px #00000029;
  margin-bottom: 20px;
  border-radius: 5px;

  .ant-collapse-icon-position-left {
    border: none;
    margin-top: 20px;
  }

  .ant-collapse-header {
    padding: 0px !important;
    background-color: transparent;
  }
  .ant-collapse {
    background-color: transparent !important;
  }

  .shadow-none {
    margin: 0px;
  }
}

.open-container {
  padding: 0px 15px;
}

.shadow-none {
  box-shadow: none;
}
